


// colors
$primary-color: #00864a;
$primary-compliment: complement($primary-color);
$secondary-color: #00cd71;
$secondary-compliment: complement($secondary-color);
$lightest-grey: #F7F9F9;

// fonts
$primary-font: 'Roboto', sans-serif;